/* ==========================================================================
 * Base Styles, Bootstrap Modifications & Fonts Import
 * ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

::-moz-selection {
    background: rgba(242, 194, 201, 1);
    color: #a4003a;
    text-shadow: none;
}
::-webkit-selection {
    background: rgba(242, 194, 201, 1);
    color: #a4003a;
    text-shadow: none;
}
::selection {
    background: rgba(242, 194, 201, 1);
    color: #a4003a;
    text-shadow: none;
}

.mt {
    margin-top: 20px;
}

.mb {
    margin-bottom: 40px;
}

/* ==========================================================================
 * General styles
 * ========================================================================== */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #4a4a4a;
}

/* ==========================================================================
 * Wrap Sections
 * ========================================================================== */
#header-wrap {
    background: url(../img/header.jpg) no-repeat center top;
    margin-top: -70px;
    padding-top: 250px;
    text-align:center;
    background-position: center center;
    min-height: 650px;
    width: 100%;
    
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header-wrap h1 {
    color:#ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 4px;
    font-size: 80px;
    font-weight: bold;
}

#header-wrap h2, h3, h4 {
    font-weight: 400;
    color: #ffffff;
}

#header-wrap h1, h2, h3, h4 {
    text-shadow: 2px 0 0 #2f2f2f, -2px 0 0 #2f2f2f, 0 2px 0 #2f2f2f, 0 -2px 0 #2f2f2f, 1px 1px #2f2f2f, -1px -1px 0 #2f2f2f, 1px -1px 0 #2f2f2f, -1px 1px 0 #2f2f2f;
}

#icons {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f2f2f2;
}

#icons i {
   font-size: 40px;
   color: #4a4a4a;
}

#icons i:hover {
    color: #1abc9c;
}

#footer-wrap {
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: #2f2f2f;
}

#footer-wrap span, #footer-wrap p {
    color: #ffffff;
}

#copyright {
    font-size: 14px;
    padding-top: 30px;
}
