/* ==========================================================================
 * Base Styles, Bootstrap Modifications & Fonts Import
 * ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

::-moz-selection {
    background: #F6BCBD;
    color: #C91B1E;
    text-shadow: none;
}
::-webkit-selection {
    background: #F6BCBD;
    color: #C91B1E;
    text-shadow: none;
}
::selection {
    background: #F6BCBD;
    color: #C91B1E;
    text-shadow: none;
}

/* ==========================================================================
 * General styles
 * ========================================================================== */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #4a4a4a;
}

/* ==========================================================================
 * Header, Sections and Footer
 * ========================================================================== */
header {
    background: url(../img/header.jpg) no-repeat center top;
    padding-top: 195px;
    text-align:center;
    background-position: center center;
    height: 540px;
    width: 100%;
    
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    border-bottom: 3px solid #f2f2f2;
}

header h1 {
    color:#ffffff;
    margin-top: 10px;
    padding-top: 10px;
    letter-spacing: 4px;
    font-size: 50px;
    font-weight: bold;
}

header h2 {
    font-weight: 400;
    margin-top: 10px;
    font-size: 25px;
    color: #ffffff;
}

header h1, h2, h3, h4 {
    text-shadow: 2px 0 0 #2f2f2f, -2px 0 0 #2f2f2f, 0 2px 0 #2f2f2f, 0 -2px 0 #2f2f2f, 1px 1px #2f2f2f, -1px -1px 0 #2f2f2f, 1px -1px 0 #2f2f2f, -1px 1px 0 #2f2f2f;
}

#icons {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
}

#icons i {
   font-size: 40px;
   color: #4a4a4a;
}

#icons i:hover {
    color: #E54345;
}

#summary {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 40px;
}

footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #2f2f2f;
}

footer span, footer p {
    color: #ffffff;
}

#copyright {
    font-size: 14px;
    padding-top: 25px;
}

/* ==========================================================================
 * @media
 * ========================================================================== */
@media (min-width: 768px) {
    #summary {
        font-size: 16px;
    }
} 

@media (min-width: 992px) {
    header {
        padding-top: 240px;
        height: 650px;
    }

    header h1 {
        font-size: 80px;
    }

    header h2 {
        font-size: 30px;
    }

    #icons {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    footer {
        padding-top: 50px;
        padding-bottom: 40px;
    }
}